extends layout

block content
    .bgimage_login
        form.register-form(action="/users/submit", method="post")
            h1 Register
            .txtb
                input(type='text' , autocomplete='off',name='name', id=name)
                span(data-placeholder='Name')
            .txtb
                input(type='text' , autocomplete='off',name='username', id=username)
                span(data-placeholder='Username')
            .txtb
                input(type='email' , autocomplete='off',name='email', id=email)
                span(data-placeholder='Email')
            .txtb
                input(type='password', autocomplete='off', name='password', id=password)
                span(data-placeholder='Password')
            .txtb
                input(type='password', autocomplete='off', name='confirm_password', id=confirm_password)
                span(data-placeholder='Re-type Password')
            input.register-btn(type='submit', value='Register')
            .register-bottom-text
                | Already have an account  
                a(href='/users/login') Login

    script.
        $(".txtb input").on("focus",function(){
        $(this).addClass("focus");
        });
        $(".txtb input").on("blur",function(){
        if($(this).val() == "")
        $(this).removeClass("focus");
        });
